:root {
  --main-color: white;
  --main-font: red;
}

.mainContent {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  color: var(--main-font);
  font-size: 4vw;
}

.navBar {
  background-color: blue;
  color: orange;
  grid-area: 1 / 1 / 1 / 4;
}

.sectionOne {
  background-color: orange;
  grid-area: 2 / 1 / 3 / 1;
}

.sectionTwo {
  background-color: yellow;
  grid-area: 2 / 2 / 3 / 2;
}

.sectionThree {
  background-color: green;
  color: purple;
  grid-area: 2 / 3 / 3 / 3;
}
